@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@mixin mobile {
    @media screen and (max-width: 480px){
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width: 768px){
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width: 1200px){
        @content;
    }
}
// colors
$background:#128C7E;
$form-background: #FFFFFF;
$logo-color: #233138;
$button-color: #128C7E;
$font-color: #09132C;
$sidebar-color: #F5FAFC;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}
.formContainer{
    background-color: $background;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .formWrapper{
        position:absolute;
        background-color: $form-background;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        left: 300px;
        top: 300px;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        @include tablet{
            position:relative;
            left: 0px;
            top: 0px;
         }
        
         

      

        .logo{
            color: $logo-color;
            font-weight: bolder;
            font-size: 24px;
        }
        .title{
            color:$font-color;
            font-size: 12px;
        }

        form{
        display: flex;
        flex-direction: column;
        gap: 15px;

        input{
            padding: 15px;
            border: none;
            width: 250px;
            border-bottom:1px solid 
            #008069;
        &::placeholder{
            color: rgb(175, 175, 175);
        }
        }

        label{
            display: flex;
            align-items: center;
            gap: 10px;
            color: $font-color;
            font-size: 12px;
            cursor: pointer;

            img{
                width: 30px;
            }
        } 
        button{
            background-color: $button-color;
            color: $form-background;
            padding: 10px;
            font-weight: bold;
            border: none;
            cursor: pointer;
        }
        }
        p{
            color: $font-color;
            font-size: 12px;
            margin-top: 10px;
        }
    }
    img{
        position: absolute;
        width: 1322px;
        height: 835.69px;
        left: 1026px;
        top: 62px;
        background: #FFFFFF;
        box-shadow: 0px 4.36664px 4.36664px rgba(0, 0, 0, 0.25);
        border-radius: 28.3286px;
        background-size: cover;
        background-size: cover;
        
        @include tablet{
           display: none;
            
        }
        @include laptop{
           
           display: none;
        }
    }
}
.menu{
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 97.33%;
width: 100%;
background-size: cover;
cursor: pointer;

}
.home{
    background-image: url("./images/cover.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        border: 1px solid #ddddf7;
        border-radius: 24px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;

        @include tablet{
            width: 90%;
        }
        @include mobile{
            width: 100%;
        }

        .sidebar{flex: 1;
            background-color: $sidebar-color;
            position: relative;
            
            .navbar{
                display: flex;
                align-items: center;
                background-color: $background;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: $form-background;

                .logo{
                    font-weight: bold;
                    @include tablet{
                        display: none;
                    }
                }
                .user{
                    display: flex;
                    gap: 10px;

                img{
                    background-color: #ddddf7;
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    object-fit: cover;
                    
            
                }

                button{
                    background-color: $form-background;
                    color: $font-color;
                    font-size: 10px;
                    border: none;
                    padding: 0 5px;
                    cursor: pointer;

                    @include tablet{
                        position: absolute;
                        bottom: 10px;
                    }
                }
                }
            }
            .search{
                border-bottom: 1px solid gray;

                .searchForm{
                    padding: 10px;
                    input{
                    background-color: transparent;
                    border: none;
                    color: black;
                    width: 100%;
                    outline: none;

                    &::placeholder{
                        color: $font-color;
                    }
                    }
                }
            }
            .userChat{
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: $font-color;
                cursor: pointer;

                &:hover{
                    background-color: $background;
                    color: $form-background;
                }
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;

                    @include mobile{
                        width: 35px;
                        height: 35px;
                    }
            
                }
                .userChatInfo{
                    span{
                    font-weight: bold;
                    font-size: 18px;

                    @include mobile{
                        font-size: 14px;
                    }
                    }
                    p{
                        font-size: 12px;
                        color: $font-color;
                        @include mobile{
                            font-size: 10px;
                        }
                    }
                    
                }
            }
        }

        .chat{
            flex: 2;

            .chatInfo{
                height: 50px;
                background-color: #FAFAFA;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                color: $font-color;

            }
            .chatIcons{
                display: flex;
                gap: 10px;
                
                img{
                    height: 24px;
                    cursor: pointer;
                    

                    @include mobile{
                        height: 20px;
                    }
                }
            }
            .messages{
                background-color: #EFEAE2;
                padding: 10px;
                height: calc(100% - 120px);
                overflow: scroll;

                .message{
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;

                    .messageInfo{
                        display: flex;
                        flex-direction: column;
                        color: $font-color;
                        font-weight:300;
                        
                        @include mobile{
                            font-size: 11px;
                        }
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;

                            @include mobile{
                                width: 25px;
                                height: 25px;
                            }
                        }
                        
                    }
                    .messageContent{
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        

                        p{
                        background-color: white;
                        padding: 10px 20px;
                        border-radius: 0px 10px 10px 10px;
                        max-width: max-content;

                        @include mobile{
                            padding: 8px 16px;
                            font-size: 10px;
                        }
                        }

                        img{
                            width: 50%;

                             @include mobile{
                                width: 30%;
                                
                    }

                        }
                    }

                    &.owner{
                        flex-direction: row-reverse;

                        .messageContent{
                            align-items: flex-end;
                            p{
                                background-color: 
                                #ACFCAC;
                                color: $font-color;
                                border-radius: 10px 0px 10px 10px ;
                            }
                        }

                       
                    }
                }
            }
            .input{
                height: 70px;
                background-color: $sidebar-color;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                input{
                    width: 100%;
                    border: none;
                    outline: none;
                    color: $font-color;
                    font-size: 18px;

                    @include mobile{
                        font-size: 12px;
                    }
                }
                &::placeholder{
                    color: lightgray;
                }
            }
            .send{
                display: flex;
                align-items: center;
                gap: 10px;
                

                

                img{
                    height: 25px;
                    cursor: pointer;
                    @include mobile{
                        height: 20px;
                    }
                }

                button{
                    border: none;
                    padding: 10px 15px;
                    color: #ddddf7;
                    background-color: #128C7E;
                    border-radius: 5px;
                    cursor: pointer;
                    @include mobile{
                        padding: 5px 10px;
                    }
                }
            }
        }

    }
}