@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.formContainer{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .formWrapper{
        background-color: white;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo{
            color: #5d5b8b;
            font-weight: bolder;
            font-size: 24px;
        }
        .title{
            color:#5d5b8b;
            font-size: 12px;
        }

        form{
        display: flex;
        flex-direction: column;
        gap: 15px;

        input{
            padding: 15px;
            border: none;
            width: 250px;
            border-bottom:1px solid #a7bcff;
        &::placeholder{
            color: rgb(175, 175, 175);
        }
        }

        label{
            display: flex;
            align-items: center;
            gap: 10px;
            color: #8da4f1;
            font-size: 12px;
            cursor: pointer;

            img{
                width: 30px;
            }
        } 
        button{
            background-color: #7b96ec;
            color: white;
            padding: 10px;
            font-weight: bold;
            border: none;
            cursor: pointer;
        }
        }
        p{
            color: #5d5b8b;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}

.home{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        border: 1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;

    }
}